@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Renan's DTChallenge</h1>
    <p>Please access the vehicle sales on the navigation bar</p>
</div>
